*~
*#
*.out
output*
external/libtaylor/.svn
external/libgetkw/.gitignore
release*
Release*
Makefile
Debug*
.DS_Store
*build*
debug
TAGS
*/TAGS
*/*/TAGS
prof
Config.hpp
doc/Doxyfile
doc/_doxygen
doc/conf.py
*.pyc
weights.txt
element_radius.txt
centers.txt
normals.txt
cavity.npz
*.mod
html/
compile_commands.json
doc/gfx/matplotlib/

# QtCreator project files
*.config
*.creator*
*.files
*.includes
CMakeLists.txt.user
