Roberto Di Remigio <roberto.diremigio@gmail.com> <roberto.d.remigio@uit.no>
Roberto Di Remigio <roberto.diremigio@gmail.com> <robertodr@users.noreply.github.com>
Roberto Di Remigio <roberto.diremigio@gmail.com> <roberto@asmodeus.(none)>
Luca Frediani <luca.frediani@uit.no> luca <luca.frediani@uit.no>
Monica Bugeanu <monica.bugeanu@unibas.ch> Monica Bugeanu (iMac) <monica.bugeanu@unibas.ch>
Monica Bugeanu <monica.bugeanu@unibas.ch> Monica Bugeanu <monica.bugeanu@gmail.com>
Monica Bugeanu <monica.bugeanu@unibas.ch> Moni(cluster) <monica.bugeanu@unibas.ch>
T. Daniel Crawford <crawdad@vt.edu> crawdad <crawdad@vt.edu>
T. Daniel Crawford <crawdad@vt.edu> Daniel Crawford <crawdad@vt.edu>
Krzysztof Mozgawa <mozgawa.krzysztof@gmail.com> Krzysztof Mozgawa <mozgawa.krzysztof@gmail.com>
Lori A. Burns <lori.burns@gmail.com> Lori A. Burns <lori.burns@gmail.com>
Radovan Bast <radovan.bast@gmail.com> <radovan.bast@irsamc.ups-tlse.fr>
Radovan Bast <radovan.bast@gmail.com> <radovan.bast@uit.no>
Ville Weijo <ville.weijo@gmail.com> Ville Weijo <ville.weijo@gmail.com>
Ward Poelmans <wpoely86@gmail.com> Ward Poelmans <wpoely86@gmail.com>
Arnfinn Hykkerud Steindal <arnfinn.steindal@gmail.com> Arnfinn Hykkerud Steindal <arnfinn.steindal@gmail.com>
Arnfinn Hykkerud Steindal <arnfinn.steindal@gmail.com> Arnfinn <arnfinn.steindal@uit.no>
Arnfinn Hykkerud Steindal <arnfinn.steindal@gmail.com> arnfinn <arnfinn.steindal@gmail.com>
