language: cpp
sudo: false
dist: trusty
ruby: 2.2.0
notifications:
  slack:
    secure: F2nQIW6SiaGdw1LjuZOlgBu8rUVMllrDG/5bhmTQP7gyETfViFBjTsHQdTle6jtdb+LudleZaG7WhdEiVcKUa834rKqDk1UOt9p6bsmgbsBZBAaxmPh01iVFhKn3ML7JLjfr1YtH7MWJcsS60cNBrohXfVKfFzNgDqZEu/llr90=
cache:
  ccache: true
  bundler: true
  directories:
  - "$HOME/.ccache"
env:
  global:
    - USE_CCACHE=1
    - CCACHE_COMPRESS=1
    - CCACHE_MAXSIZE=200M
    - CCACHE_CPP2=1
    - MINICONDA_VER=''
branches:
  except:
    - fix-appveyor
matrix:
  include:
    - os: linux
      addons: &1
        apt:
          packages:
            - cmake3
            - cmake3-data
            - g++-4.6
            - gcc-4.6
            - gfortran-4.6
            - libboost-math-dev
      env:
        - CXX_COMPILER='g++-4.6'
        - C_COMPILER='gcc-4.6'
        - Fortran_COMPILER='gfortran-4.6'
        - BUILD_TYPE='release'
        - PYTHON_VER='2.7'
        - RUN_DANGER=false
    - os: linux
      addons:
        apt:
          packages:
            - cmake3
            - cmake3-data
            - clang
            - clang-format-3.9
            - gfortran-4.6
            - libboost-math-dev
      env:
        - CXX_COMPILER='clang++'
        - C_COMPILER='clang'
        - Fortran_COMPILER='gfortran-4.6'
        - BUILD_TYPE='release'
        - PYTHON_VER='3.5'
        - STATIC='--static'
        - RUN_DANGER=true

    - os: osx
      osx_image: xcode7.3
      env:
        - CXX_COMPILER='clang++'
        - C_COMPILER='clang'
        - Fortran_COMPILER='gfortran-5'
        - BUILD_TYPE='release'
        - PYTHON_VER='2.7'
        - HOMEBREW_GCC='homebrew/versions/gcc5'
        - STATIC='--static'
        - RUN_DANGER=false
    - os: osx
      osx_image: xcode7.3
      env:
        - CXX_COMPILER='g++-6'
        - C_COMPILER='gcc-6'
        - Fortran_COMPILER='gfortran-6'
        - BUILD_TYPE='release'
        - PYTHON_VER='3.5'
        - HOMEBREW_GCC='homebrew/versions/gcc6'
        - RUN_DANGER=false

    - os: linux
      addons: *1
      env:
        - CXX_COMPILER='g++-4.6'
        - C_COMPILER='gcc-4.6'
        - Fortran_COMPILER='gfortran-4.6'
        - BUILD_TYPE='debug'
        - PYTHON_VER='2.7'
        - COVERAGE='--coverage'
        - RUN_DANGER=false
  allow_failures:
    - os: linux
      addons: *1
      env:
        - CXX_COMPILER='g++-4.6'
        - C_COMPILER='gcc-4.6'
        - Fortran_COMPILER='gfortran-4.6'
        - BUILD_TYPE='debug'
        - PYTHON_VER='2.7'
        - COVERAGE='--coverage'
        - RUN_DANGER=false
install:
- |
  if [[ "${PYTHON_VER}" == "2.7" ]]; then
    MINICONDA_VER='Miniconda2-latest'
  else
    MINICONDA_VER='Miniconda3-latest'
  fi
- |
  if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
    brew install cmake boost
    brew reinstall ${HOMEBREW_GCC}
    echo "Downloading ${MINICONDA_VER}-MacOSX-x86_64.sh"
    wget https://repo.continuum.io/miniconda/${MINICONDA_VER}-MacOSX-x86_64.sh -O miniconda.sh;
  else
    echo "Downloading ${MINICONDA_VER}-Linux-x86_64.sh"
    wget https://repo.continuum.io/miniconda/${MINICONDA_VER}-Linux-x86_64.sh -O miniconda.sh;
  fi
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- conda config --set always_yes yes --set changeps1 no
- conda update --quiet conda
- conda info --all
- conda env create --quiet --file .pcmsolver-travis.yml python=$PYTHON_VER
- source activate pcmsolver
- conda list
before_script:
- python -V
- cmake --version
- cd ${TRAVIS_BUILD_DIR}
- echo 'Build set up summary'
- ${CXX_COMPILER} --version
- ${C_COMPILER} --version
- ${Fortran_COMPILER} --version
- |
  if [[ "${RUN_DANGER}" = true ]]; then
    bundle install
  fi
script:
- |
  if [[ "${RUN_DANGER}" = true ]]; then
    `type -P clang-format` --version
    `type -P clang-format-3.9` --version
    alias clang-format=`type -P clang-format-3.9`
    clang-format --version
    bundle exec danger
  fi
- python setup.py --cxx=${CXX_COMPILER} --cc=${C_COMPILER} --fc=${Fortran_COMPILER} --type=${BUILD_TYPE} --cmake-options='-Hprojects/CMake' ${STATIC} ${COVERAGE}
- cd build
- ../.scripts/ci_build.sh
- python ../.scripts/ci_test.py ctest --output-on-failure --verbose
- python ../.scripts/ci_print_failing.py
after_success:
- |
  if [[ "${COVERAGE}" = true ]]; then
    coveralls --root .. -E ".*external.*" -E ".*CMakeFiles.*" -E ".*generated.*" -E ".*tests*" -E ".*tools.*" -E ".*cmake*" -E ".*doc*" -E ".*examples*" || echo 'coveralls upload failed.'
  fi
