language: cpp
sudo: false
notifications:
  slack:
    secure: F2nQIW6SiaGdw1LjuZOlgBu8rUVMllrDG/5bhmTQP7gyETfViFBjTsHQdTle6jtdb+LudleZaG7WhdEiVcKUa834rKqDk1UOt9p6bsmgbsBZBAaxmPh01iVFhKn3ML7JLjfr1YtH7MWJcsS60cNBrohXfVKfFzNgDqZEu/llr90=
cache:
  ccache: true
  directories:
  - "$HOME/.ccache"
env:
  global:
    - USE_CCACHE=1
    - CCACHE_COMPRESS=1
    - CCACHE_MAXSIZE=200M
    - CCACHE_CPP2=1
branches:
  except:
    - fix-appveyor
matrix:
  include:
    - os: linux
      compiler: clang
      addons: &1
        apt:
          sources:
            - llvm-toolchain-precise-3.5
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - clang-3.5
            - libboost1.55-all-dev
            - gfortran
            - python-virtualenv
      env:
        - CXX_COMPILER='clang++-3.5'
        - C_COMPILER='clang-3.5'
        - Fortran_COMPILER='gfortran'
        - BUILD_TYPE='release'
    - os: osx
      osx_image: xcode7.3
      compiler: clang
      env:
        - CXX_COMPILER='clang++'
        - C_COMPILER='clang'
        - Fortran_COMPILER='gfortran-4.8'
        - BUILD_TYPE='release'
        - HOMEBREW_GCC='homebrew/versions/gcc48'
    - os: linux
      compiler: clang
      addons: &2
        apt:
          sources:
            - llvm-toolchain-precise-3.6
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - clang-3.6
            - libboost1.55-all-dev
            - gfortran
            - python-virtualenv
      env:
        - CXX_COMPILER='clang++-3.6'
        - C_COMPILER='clang-3.6'
        - Fortran_COMPILER='gfortran'
        - BUILD_TYPE='release'
        - STATIC='--static'
    - os: osx
      osx_image: xcode7.3
      compiler: gcc
      env:
        - CXX_COMPILER='g++-4.8'
        - C_COMPILER='gcc-4.8'
        - Fortran_COMPILER='gfortran-4.8'
        - BUILD_TYPE='release'
        - HOMEBREW_GCC='homebrew/versions/gcc48'
    - os: linux
      compiler: clang
      addons: &3
        apt:
          sources:
            - llvm-toolchain-precise-3.7
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - clang-3.7
            - libboost1.55-all-dev
            - gfortran
            - python-virtualenv
      env:
        - CXX_COMPILER='clang++-3.7'
        - C_COMPILER='clang-3.7'
        - Fortran_COMPILER='gfortran'
        - BUILD_TYPE='release'
    - os: osx
      osx_image: xcode7.3
      compiler: clang
      env:
        - CXX_COMPILER='clang++'
        - C_COMPILER='clang'
        - Fortran_COMPILER='gfortran-4.9'
        - BUILD_TYPE='release'
        - HOMEBREW_GCC='homebrew/versions/gcc49'
        - STATIC='--static'
    - os: linux
      compiler: clang
      addons: &4
        apt:
          sources:
            - llvm-toolchain-precise-3.8
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - clang-3.8
            - libboost1.55-all-dev
            - gfortran
            - python-virtualenv
      env:
        - CXX_COMPILER='clang++-3.8'
        - C_COMPILER='clang-3.8'
        - Fortran_COMPILER='gfortran'
        - BUILD_TYPE='release'
    - os: osx
      osx_image: xcode7.3
      compiler: gcc
      env:
        - CXX_COMPILER='g++-4.9'
        - C_COMPILER='gcc-4.9'
        - Fortran_COMPILER='gfortran-4.9'
        - BUILD_TYPE='release'
        - HOMEBREW_GCC='homebrew/versions/gcc49'
    - os: linux
      compiler: gcc
      addons: &5
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - g++-4.6
            - gcc-4.6
            - libboost1.55-all-dev
            - gfortran-4.6
            - python-virtualenv
      env:
        - CXX_COMPILER='g++-4.6'
        - C_COMPILER='gcc-4.6'
        - Fortran_COMPILER='gfortran-4.6'
        - BUILD_TYPE='release'
    - os: osx
      osx_image: xcode7.3
      compiler: clang
      env:
        - CXX_COMPILER='clang++'
        - C_COMPILER='clang'
        - Fortran_COMPILER='gfortran-5'
        - BUILD_TYPE='release'
        - HOMEBREW_GCC='homebrew/versions/gcc5'
    - os: linux
      compiler: gcc
      addons: &6
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - g++-4.7
            - gcc-4.7
            - libboost1.55-all-dev
            - gfortran-4.7
            - python-virtualenv
      env:
        - CXX_COMPILER='g++-4.7'
        - C_COMPILER='gcc-4.7'
        - Fortran_COMPILER='gfortran-4.7'
        - BUILD_TYPE='release'
        - STATIC='--static'
    - os: osx
      osx_image: xcode7.3
      compiler: gcc
      env:
        - CXX_COMPILER='g++-5'
        - C_COMPILER='gcc-5'
        - Fortran_COMPILER='gfortran-5'
        - BUILD_TYPE='release'
        - HOMEBREW_GCC='homebrew/versions/gcc5'
        - STATIC='--static'
    - os: linux
      compiler: gcc
      addons: &7
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - g++-4.8
            - gcc-4.8
            - libboost1.55-all-dev
            - gfortran-4.8
            - python-virtualenv
      env:
        - CXX_COMPILER='g++-4.8'
        - C_COMPILER='gcc-4.8'
        - Fortran_COMPILER='gfortran-4.8'
        - BUILD_TYPE='release'
    - os: osx
      osx_image: xcode7.3
      compiler: clang
      env:
        - CXX_COMPILER='clang++'
        - C_COMPILER='clang'
        - Fortran_COMPILER='gfortran-6'
        - BUILD_TYPE='release'
        - HOMEBREW_GCC='homebrew/versions/gcc6'
    - os: linux
      compiler: gcc
      addons: &8
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - g++-4.9
            - gcc-4.9
            - libboost1.55-all-dev
            - gfortran-4.9
            - python-virtualenv
      env:
        - CXX_COMPILER='g++-4.9'
        - C_COMPILER='gcc-4.9'
        - Fortran_COMPILER='gfortran-4.9'
        - BUILD_TYPE='release'
    - os: osx
      osx_image: xcode7.3
      compiler: gcc
      env:
        - CXX_COMPILER='g++-6'
        - C_COMPILER='gcc-6'
        - Fortran_COMPILER='gfortran-6'
        - BUILD_TYPE='release'
        - HOMEBREW_GCC='homebrew/versions/gcc6'
    - os: linux
      compiler: gcc
      addons: &9
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - boost-latest
            - george-edison55-precise-backports
          packages:
            - cmake
            - cmake-data
            - g++-5
            - gcc-5
            - libboost1.55-all-dev
            - gfortran-5
            - python-virtualenv
      env:
        - CXX_COMPILER='g++-5'
        - C_COMPILER='gcc-5'
        - Fortran_COMPILER='gfortran-5'
        - BUILD_TYPE='release'
    - os: linux
      compiler: gcc
      addons: *9
      env:
        - CXX_COMPILER='g++-5'
        - C_COMPILER='gcc-5'
        - Fortran_COMPILER='gfortran-5'
        - BUILD_TYPE='release'
        - COVERAGE='--coverage'
  allow_failures:
    - os: linux
      compiler: gcc
      addons: *9
      env:
        - CXX_COMPILER='g++-5'
        - C_COMPILER='gcc-5'
        - Fortran_COMPILER='gfortran-5'
        - BUILD_TYPE='release'
        - COVERAGE='--coverage'
install:
- |
  if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
    brew install cmake boost python pyenv-virtualenv
    brew reinstall ${HOMEBREW_GCC}
  fi
  virtualenv venv
  source venv/bin/activate
  pip install --upgrade -r .travis_requirements.txt
before_script:
- cd ${TRAVIS_BUILD_DIR}
- export CXX=${CXX_COMPILER}
- ${CXX_COMPILER} --version
- export CC=${C_COMPILER}
- ${C_COMPILER} --version
- export FC=${Fortran_COMPILER}
- ${Fortran_COMPILER} --version
- python --version
- python setup.py --cxx=${CXX_COMPILER} --cc=${C_COMPILER} --fc=${Fortran_COMPILER} --type=${BUILD_TYPE} --cmake-options='-Hprojects/CMake' ${STATIC} ${COVERAGE}
- cd build
script:
- ctest --parallel 2 --output-on-failure --verbose --dashboard Experimental --track TravisCI
after_success:
- |
  if [[ "${COVERAGE}" = true ]]; then
    coveralls --root .. -E ".*external.*" -E ".*CMakeFiles.*" -E ".*generated.*" -E ".*tests*" -E ".*tools.*" -E ".*cmake*" -E ".*doc*" -E ".*examples*" || echo 'coveralls upload failed.'
  fi
