[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

docopt = "*"
pyparsing = "*"

[dev-packages]

Pygments = "*"
breathe = "*"
matplotlib = "*"
pyyaml = ">=4.2b1"
recommonmark = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-bibtex = "*"
yapf = "*"
fprettify = "*"

[pipenv]

allow_prereleases = true
