[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Pygments = "*"
breathe = "*"
docopt = "*"
matplotlib = "*"
pyparsing = "*"
PyYAML = "*"
recommonmark = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-bibtex = "*"
yapf = "*"


[dev-packages]

