html
Doxyfile
doctrees
xml
doxygen_sqlite3.db
mock_pcmsolver.h
cloc_tools.py
gfx/bar_charts/*.svg
scratch_cpp.json
scratch_hpp.json
scratch_c.json
scratch_h.json
scratch_fortran.json
doxygen.log
__pycache__
